@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'CenturyGothic';
        height: 100%;
    }

    @font-face {
        font-family: 'CenturyGothic';
        src: url('./fonts/Century Gothic.ttf');
    } 
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}