@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family:"Century Gothic", "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        height: 100%;
    }
  }

a{
    text-decoration: none;
    color: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#cycle-list li {
    transition: font-size 1s, color 0.5s, margin-top 0.5s, margin-bottom 0.5s, line-height 0.5s linear;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 2.25rem !important;
}